<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    {{#link-to  "movie.index" id}} {{!--  TODO: update route --}}
        <div class="thumbnail">
            <img src={{posterUrl}} alt={{title}}>
            <div class="caption">
                <h3>{{title}}</h3>
                <p>{{overview}}</p>
                <p>
                    <a href="#" class="btn btn-primary">Action</a>
                    <a href="#" class="btn btn-default">Action</a>
                </p>
            </div>
        </div>
    {{/link-to}}
</div>

