<form class="search-box-widget  form-inline" role="search">
    <div class="form-group">
        {{input type="text" value=searchText placeholder="search movies..." autofocus="autofocus" class="form-control search-box"}}
    </div>
    <button type="submit" class="btn btn-primary" {{action 'searchMovies'}}>Search</button>
</form>
