@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700);

$main-min-height:500px;
$jumbotron-min-height: 600px;
$primary-color-dark: #689F38;
$primary-color: #8BC34A;
$primary-color-light: #DCEDC8;
$primary-color-lighter: rgba(255, 204, 188, 0.15);
$primary-color-text: #FFFFFF;
$accent-color: #FF5252;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
$gray-base: #000 !default;
$white-base: #fff !default;
$black-base: #000 !default;
$light-bg-color: rgba(123, 173, 177, 0.21);
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$brand-primary: darken($primary-color, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
$main-bg-color: $gray-lighter;
$main-content-bg-color: $white-base;
$facebook-color: #2d4373;
$google-color: #c23321;
$roboto: 'Roboto',sans-serif;
$roboto-slab: 'Roboto Slab',serif;

body {
  padding-top: 0;
}
.navbar{
    .navbar-header{
    }
}
