<div class="container">
    <h1 class="text-center">About</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea magnam praesentium eum ut quis tempore optio autem, molestias consectetur repellat, sunt dignissimos enim dolores. Earum obcaecati distinctio hic, iusto fuga.
</div>
