<header>
{{nav-bar}}
</header>
    {{outlet}}
<footer class="text-center">
    &copy; 2016 
    <a href="https://github.com/vidaaudrey/Videor" title="Github">{{fa-icon icon="github"}}</a>
    <a href="http://audreyli.me" title="Audrey's Website">Audreyli.me</a> 
</footer>

