<h2>Movie List</h2>
{{#each model as |movie|}}
  {{movie-item-widget title=movie.title overview=movie.overview posterPath=movie.poster_path}}
{{else}}
  <h3>There is no movie.</h3>
{{/each}}
{{outlet}}
